.msg{ background:url("msg.png") top left no-repeat; }
.icon_r9_c7{ width:20px; height:22px; background-position:-10px -10px; }
.icon_r5_c22{ width:19px; height:22px; background-position:-10px -42px; }
.icon_r2_c8{ width:19px; height:22px; background-position:-10px -74px; }
.icon_r5_c18{ width:28px; height:21px; background-position:-10px -106px; }
.icon_r5_c4{ width:22px; height:21px; background-position:-10px -137px; }
.icon_r2_c11{ width:18px; height:21px; background-position:-10px -168px; }
.icon_r18_c2{ width:22px; height:21px; background-position:-10px -199px; }
.icon_r2_c4{ width:20px; height:21px; background-position:-10px -230px; }
.icon_r13_c4{ width:22px; height:21px; background-position:-10px -261px; }
.icon_r6_c14{ width:18px; height:20px; background-position:-10px -292px; }
.icon_r15_c19{ width:19px; height:19px; background-position:-10px -322px; }
.icon_r15_c15{ width:25px; height:18px; background-position:-10px -351px; }
.icon_r10_c10{ width:22px; height:17px; background-position:-10px -379px; }

