<!DOCTYPE html>
<html>
<head>
    <title>Post</title>
</head>
<body>

<h1> Add a new Post Here</h1>
        <form id="post_form" method="post" action=""
                enctype="multipart/form-data">
        {% csrf_token %}
        <strong>Post Title:</strong>

            {{ form.as_p }}

        <br />
        <input type="submit" name="submit" value="Add" />
        <p></p>
        <h2>To go back to <strong>Newsfeed</strong> click:
        <a href="{% url 'news' %}">here</a> </h2>

    </form>
        </body>
</html>
{% comment %}
{% block content %}
    <div class="main">
        <!-- Posts -->


        <ul>
            {% for post in posts.object_list %}
            <div class="title">{{ post.title }}</div>
            <ul>
                <div class="time">{{ post.created }}</div>
                <div class="body">{{ post.body|linebreaks }}</div>
            </ul>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
{% endcomment %}
